<!--Adding page content-->
<div ng-controller="InvoiceController">

    <div style="padding-left: 130px;padding-right: 20px;">
        <div class="ui raised segment">
            <a class="ui teal ribbon label">Customer Invoice</a>
            <a class="ui blue ribbon label">Customer Basic Details</a>
            <br><br>

            <div class="ui form">
                <div class="fields">
                    <div class="four wide field">
                        <label>Customer Name</label>

                        <select class="ui search dropdown" ng-model="invoice.customer_name">
                            <option value="123654789">Customer</option>
                            <option ng-repeat="data in allCustomers" value="{{data.customerId}}"
                                    ng-change="getCustomerExactName(data.customerId)">
                                {{data.firstName}} {{data.middleName}} {{data.lastName}}
                            </option>
                        </select>

                    </div>
                    <div class="four wide field">
                        <label>Invoice Date</label>
                        <input id="datetimepicker" ng-model="invoice.invoiceDate" type="text" placeholder="Select Date"
                               ng-blur="saveCustomerInvoice()">
                    </div>
                    <div class="four wide field">
                        <label>Add Customer</label>
                        <button class="ui primary button" ng-click="getModel()">Add New Customer</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="padding-left: 130px;padding-right: 20px;">
        <div class="ui raised segment">

            <div class="ui form">
                <div class="fields">
                    <div class="three wide field">
                        <label>Item</label>

                        <select class="ui search dropdown" ng-model="invoice.itemName"
                                ng-change="getItemPrice()">
                            <option value="">Select Product</option>
                            <option ng-repeat="data in allItems" value="{{data.itemId}}-{{data.itemName}}">
                                {{data.itemName}}
                            </option>
                        </select>
                    </div>

                    <div class="three wide field">
                        <label>Unit Price</label>
                        <input type="text" ng-model="invoice.unitprice" ng-keypress="myFunct($event)"
                               placeholder="Unit Rate">
                    </div>
                    <div class="three wide field">
                        <label>Quantity</label>
                        <input type="text" ng-model="invoice.qty" placeholder="Enter Quantity"
                               ng-blur="calculate()">
                    </div>

                    <!--<div class="three wide field">-->
                    <!--<label>Tax Rate (%)</label>-->
                    <!--<input type="text" ng-model="invoice.tax" placeholder="Enter Tax Amount" value="15">-->
                    <!--</div>-->

                    <div class="three wide field">
                        <label>Amount</label>
                        <input type="text" ng-model="invoice.amount" placeholder="Enter Amount">
                    </div>


                    <div class="one wide field">
                        <label>Add</label>
                        <button class="ui blue button" ng-click="saveCustomerOrderItem()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-left: 130px;padding-right: 20px;">
        <div class="ui raised segment">

            <table class="ui sortable celled table">
                <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>NEWGROV2</td>
                    <td>Oak Valley Pinot Noir</td>
                    <td>20</td>
                    <td>500</td>
                    <td>10000</td>
                    <td>
                        <button>Remove</button>
                    </td>

                </tr>
                <tr>
                    <td>OAKVALLEY</td>
                    <td>New Grove Old Tradition 5yrs</td>
                    <td>10</td>
                    <td>750</td>
                    <td>7500</td>
                    <td>
                        <button>Remove</button>
                    </td>

                </tr>

                <tr ng-repeat="item in orderItems">
                    <td>{{item.itemName}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.quentity}}</td>
                    <td>{{item.rate}}</td>
                    <td>{{item.amount}}</td>
                    <td>
                        <button class="ui icon button red" ng-click="removeItem(item.customerOrderHasItemId)">
                            <i class="remove circle icon"></i>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="ui form">
                <div class="fields">
                    <div class="four wide field">

                    </div>
                    <div class="three wide field">

                    </div>
                    <div class="three wide field">

                        <!-- Temp-->
                        <div class="fields">
                            <div class="eight wide field">
                                <label>Sub Total </label><br>
                                <label>VAT (15%) </label><br>
                                <label>Total Amount </label><br>
                                <label>Cash Amount </label><br>
                                <label>Balance Amount </label><br>
                            </div>
                            <div class="eight wide field">
                                <input type="text"><br>
                                <input type="text"><br>
                                <input type="text"><br>
                                <input type="text"><br>
                                <input type="text"><br>
                            </div>
                        </div>


                    </div>
                    <div class="two wide field">
                        <select>
                            <option value="Cash">Cash</option>
                            <option value="ATM">ATM</option>
                            <option value="Cheque">Cheque</option>
                        </select>
                    </div>
                </div>
            </div>

            <a ng-click="updateOrder()" class="ui button teal">Save Invoice</a>

            <a class="ui button blue"
               href="http://192.168.1.101:8080/web/mintbooks/v1/reports/customer_invoice?customerOrderId={{order_id}}">Print
                Invoice</a>
            <input type="checkbox" value=""> Print Receipt
            <input type="checkbox" value=""> Print Delivery Note

        </div>
    </div>

</div>
<script>
    $('.dropdown')
            .dropdown({
                // you can use any ui transition
                transition: 'drop'
            })
    ;
</script>

<script>
    jQuery('#datetimepicker').datetimepicker({
        lang: 'en',
        i18n: {
            en: {
                months: [
                    'Januar', 'Februar', 'März', 'April',
                    'Mai', 'Juni', 'Juli', 'August',
                    'September', 'Oktober', 'November', 'Dezember'
                ],
                dayOfWeek: [
                    "So.", "Mo", "Di", "Mi",
                    "Do", "Fr", "Sa."
                ]
            }
        },
        timepicker: false,
        format: 'Y-m-d'
    });
    jQuery('#datetimepicker1').datetimepicker({
        lang: 'en',
        i18n: {
            en: {
                months: [
                    'Januar', 'Februar', 'März', 'April',
                    'Mai', 'Juni', 'Juli', 'August',
                    'September', 'Oktober', 'November', 'Dezember'
                ],
                dayOfWeek: [
                    "So.", "Mo", "Di", "Mi",
                    "Do", "Fr", "Sa."
                ]
            }
        },
        timepicker: false,
        format: 'Y-m-d'
    });
</script>