<div style="padding-left: 130px;padding-right: 20px;">
    <div class="ui raised segment">
        <a class="ui teal ribbon label">Purchase Order</a>
        <a class="ui blue ribbon label">View All Orders</a>
        <br><br>

        <div class="ui form">

            <table class="ui sortable celled table">
                <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Order Date</th>
                    <th>Value</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sample name</td>
                    <td>2015-01-01</td>
                    <td>150000</td>
                    <td>
                        <button class="ui button blue">Update</button>
                        <button class="ui button red">Remove</button>
                        <button class="ui button green">View Items</button>
                    </td>
                </tr>
                <tr>
                    <td>Sample name</td>
                    <td>2015-01-01</td>
                    <td>150000</td>
                    <td>
                        <button class="ui button blue">Update</button>
                        <button class="ui button red">Remove</button>
                        <button class="ui button green">View Items</button>
                    </td>
                </tr>
                <tr>
                    <td>Sample name</td>
                    <td>2015-01-01</td>
                    <td>150000</td>
                    <td>
                        <button class="ui button blue">Update</button>
                        <button class="ui button red">Remove</button>
                        <button class="ui button green">View Items</button>
                    </td>
                </tr>
                <tr>
                    <td>Sample name</td>
                    <td>2015-01-01</td>
                    <td>150000</td>
                    <td>
                        <button class="ui button blue">Update</button>
                        <button class="ui button red">Remove</button>
                        <button class="ui button green">View Items</button>
                    </td>
                </tr>
                <tr>
                    <td>Sample name</td>
                    <td>2015-01-01</td>
                    <td>150000</td>
                    <td>
                        <button class="ui button blue">Update</button>
                        <button class="ui button red">Remove</button>
                        <button class="ui button green">View Items</button>
                    </td>
                </tr>
                <tr>
                    <td>Sample name</td>
                    <td>2015-01-01</td>
                    <td>150000</td>
                    <td>
                        <button class="ui button blue">Update</button>
                        <button class="ui button red">Remove</button>
                        <button class="ui button green">View Items</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>